# Python Review

The following cell makes sure that all of the outputs of a cell are printed. We will start all of our notebooks with this code.

In [25]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Basics

### Variables are dynamically typed

We don't need to specify variable types -- the interpreter assigns it automatically. A variable <b>a</b> can change type.

In [7]:
# Use type() function to check variabe a's type
a = 3
type(a)

int

In [9]:
# Use type() function to check variabe a's type
a ='Hello'
type(a)

str

### Mathematical operations

Here are examples of addition (+), subtraction (-), multiplication (\*), division (/), and exponentiation (\*\*)

In [29]:
a = 2
b = 3
#addition (+)
a + b
#subtraction (-)
a - b
#multiplication (*)
a * b
#division (/)
a / b
#exponentiation (**)
a ** b

5

-1

6

0.6666666666666666

8

Printing numbers: we can convert them to strings

In [31]:
# To append a string to another in Python, use the + operator.
print ('a equals to ' + str(a))

a equals to 2

### Conditions

Check whether a is greater than b <br/>
a = 3 <br/>
b = 5

In [35]:
a = 3
b = 5
# if ... else ...
if a> b:
    print ('a is greater than b')
else:
    print (' a is smaller or equal to b')
print (' I compare a and b')

 a is smaller or equal to b
 I compare a and b

More concisely:

In [39]:
result = 'a is greater than b' if a>b else 'a is smaller or equal to b'

In [41]:
result

'a is smaller or equal to b'

### Functions

In Python, 
<ul>
<li>functions do not have a return type</li>
<li>The parameters do not have a type</li>
<li>Parameters may have a default value</li>
<li>Indentation (not braces) define the scope of the function</li>
</ul>

Here is a function that sums two numbers <i>a</i> and <i>b</i> after writing a message. The default value of <i>b</i> is 0.

In [63]:
# def is the keyword for defining a function
def mysum(a, b = 1):
    print ('mysum is starting')
    return str(a) + str(b)

In [47]:
mysum(4,5)

mysum is starting

9

In [61]:
mysum(4)

mysum is starting

5

In [75]:
mysum('hello')

mysum is starting

'hello0'

In [73]:
mysum('Hello','World')

mysum is starting

'HelloWorld'

## Lists

Ordered and mutable sequences of items (of possibly different types). Denoted by square brackets.

In [85]:
a = [3, -4.5, 'hello', [-1,1], -1, 2]

In [87]:
# How to Print a List in Python?
a

[3, -4.5, 'hello', [-1, 1], -1, 2]

Indexing starts at 0 (first item). It can be negative too.

In [89]:
# Accessing value of index 0 in list a
a[0]

3

In [93]:
# Accessing value of index 3 in list a
a[3]

[-1, 1]

In [95]:
# Negative numbers of index mean that you count from the right instead of the left
# Get the last item in the list from the right 
a[-1]

2

The function <i>len</i> returns the length of the list

In [99]:
# Get the length of list a
len(a)

6

In python 3, **range** function returns a *range object* which is a iterator that allows fast iteration with minimal memory required.

In [101]:
range(5)

range(0, 5)

In [103]:
# Check the type of range(5)
type(range(5))

range

In [3]:
# Using a for loop with range(), we can repeat an action a specific number of times.
# Generate numbers between 0 to 4
for item in range(5):
    print (item)

0
1
2
3
4

If want to modify the *range* object or want to expand out at once, convert it to a *list* first, then you can use methods:
<ul>
<li><b>append</b>: add an item at the end</li>
<li><b>insert</b>: insert an item at a specific point</li>
<li><b>delete</b>: delete an item at a specific point</li>
<li><b>remove</b>: remove the first instance of an item</li>
<li><b>pop</b>: remove and return the item at a specific index</li>
</ul>

In [5]:
## Generate a range object with numbers between 0 to 4 and save it to variable l
l = range(5)

In [7]:
## Generate list l from range object
l = list(range(5))

In [9]:
# Ckeck l's type
type(l)

list

In [11]:
# add integer 10 at the end of list l
l.append(10)
l

[0, 1, 2, 3, 4, 10]

In [13]:
# insert an integer 2 at index 5
l.insert(5,2)
l

[0, 1, 2, 3, 4, 2, 10]

In [15]:
# remove the firt value 2 from the list
l.remove(2)
l

[0, 1, 3, 4, 2, 10]

In [19]:
# remove and return the item at index 3
l.pop(3)
l

[0, 1, 3, 10]

In [21]:
del(l[1])
l

[0, 3, 10]

In [23]:
# delete list l
del(l)

In [25]:
l

NameError: name 'l' is not defined

### Slicing

We can select part of a list with the : operator - **[start:end+1:step]**.
a[1:4] returns a list containing the items from index 1 (included) to index 4 (excluded). a[:3] returns a list containing all elements up to index 3 (excluded)

In [159]:
# Print list a again
a

[3, -4.5, 'hello', [-1, 1], -1, 2]

In [165]:
# returns a list containing the items from index 1 (included) to index 3 (3+1) 
a[1:4]

[-4.5, 'hello', [-1, 1]]

In [167]:
# returns a list containing all elements up to index 2 (2+1)
a[:3]

[3, -4.5, 'hello']

In [169]:
# returns a list containing the items from index 2 (included) to the last item
a[2:]

['hello', [-1, 1], -1, 2]

In [173]:
# returns a list containing the the 3rd item conunting from right to the last item
a[-3:]

[[-1, 1], -1, 2]

In [175]:
# Let's take every 2nd item from s[0:5]
a[0:5:2]

[3, 'hello', -1]

Slices provide a <b>view</b>, not a copy, of the list. That is, modifications on a slice apply to the list.

In [177]:
a

[3, -4.5, 'hello', [-1, 1], -1, 2]

In [179]:
# return first 2 element
a[:2]

[3, -4.5]

In [185]:
#  Change items of index 0 and 1 into 0
a[2:] = [0, 0]

In [187]:
a

[0, 0, 0, 0]

### Concatenate lists

In [189]:
# Use + to concatenate list a and list b
a = [1, 2, 3]
b = [10, 11, 12]
a + b

[1, 2, 3, 10, 11, 12]

### Extend - Append an sequence of a list

In [191]:
# Use extend function to append items in list b to list a 
a.extend(b)
a

[1, 2, 3, 10, 11, 12]

### Iterating

In [193]:
# *2 to all items in list a
for item in a:
    print(item * 2)

2
4
6
20
22
24

### Check presence

We can check whether a list contains an item with **in**, **not in**

In [195]:
a

[1, 2, 3, 10, 11, 12]

In [197]:
# Check whether item 2 is in list a
2 in a

True

In [199]:
# Check whether item 4 is in list a
4 in a

False

In [201]:
# Check whether item 4 is "not in" list a
4 not in a

True

### Reverse

In [ ]:
a=[5,3,8,6]

In [203]:
# reverse list a 
a.reverse()
a

[12, 11, 10, 3, 2, 1]

### Sort - sort the list in place

In [205]:
# sort list a
# sort() function is very similar to sorted() but unlike sorted it returns nothing 
# and makes changes to the original sequence. 
# Moreover, sort() is a method of list class and can only be used with lists.
a.sort()
a

[1, 2, 3, 10, 11, 12]

In [207]:
a=[5,3,8,6]

### sorted(x) return new sorted list without changing the original x

In [211]:
# sorted() method sorts the given sequence as well as set and dictionary(which is not a sequence) either in ascending 
# order or in descending order(does unicode comparison for string char by char) and always returns the a sorted list. 
# This method doesnâ€™t effect the original sequence.
b=sorted(a)

In [213]:
b

[3, 5, 6, 8]

## Tuples

* Denoted by () parenthesis.
* Just like lists, but immutable(but member objects may be mutable).  
* Support all  operations for sequences.
* If the content of a list shouldn't change, use a tuple to prevent items accidently being added, changed or deleted

In [29]:
t = (4, 5, 6)

In [31]:
t

(4, 5, 6)

In [33]:
# get value of index 0 in tuple t
t[0]

4

In [35]:
# get subset of tuple t from index 0 to index 1
t[0:2]

(4, 5)

In [37]:
# Cannot delete tuple's element 
del(t[1])

TypeError: 'tuple' object doesn't support item deletion

In [39]:
# Cannot change tuple's element 
t[0]=0

TypeError: 'tuple' object does not support item assignment

## Set

A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable (which cannot be changed). Use curly braces {}.

However, the set itself is mutable. We can add or remove items from it.

In [41]:
my_set = {1,2,3,4,3,2}
my_set

{1, 2, 3, 4}

In [43]:
my_set = {1.0, "Hello", (1, 2, 3)}

In [45]:
my_set

{(1, 2, 3), 1.0, 'Hello'}

In [47]:
a=[1,2,3,4,3,2]
type(a)
a

[1, 2, 3, 4, 3, 2]

In [51]:
# create a set named my_set from list a 
my_set=set(a)
type(my_set)

set

In [53]:
my_set

{1, 2, 3, 4}

In [57]:
# add value 5 to my_set
my_set.add(5)
my_set

{1, 2, 3, 4, 5}

In [59]:
# remove value 2 to my_set
my_set.remove(2)
my_set

{1, 3, 4, 5}

## Dictionaries

Dictionaries are data structures that contain (key, value) pairs, where the keys are unique. They are denoted by curly brackets { }.

<b>Example</b>: Let us make a dictionary where the keys are letters and the values are booleans indicating which letters are vowels.

In [63]:
v = {'a':True, 'b':False, 'c':False, 'd':False, 'e':True}

Values are accessed using the keys.

In [69]:
#check the value of key b
v['b']

False

In [71]:
#check the value of key z
v['z']

KeyError: 'z'

You can use the method **in** or **not in** to check whether it contains a key

In [73]:
# check whether key z is in fictionary v
'z' in v

False

In [75]:
# check whether key z is "not in" fictionary v
'z' not in v

True

In [77]:
# check whether key c is in fictionary v
'c' in v

True

<b>In-class exercise</b>: make a dictionary that reports the number of students in each course. Assume that there are three courses (data science, linux, and statistics) with 28, 23, and 29 students, respectively.

In [79]:
d = {'data science': 28, 'linux': 23, 'statistics': 29}

In [81]:
d

{'data science': 28, 'linux': 23, 'statistics': 29}

Equivalently, we can add elements one by one:

In [83]:
d1 ={}
d1['data science'] = 28
d1['linux'] = 23
d1['statistics'] = 29

In [85]:
d1

{'data science': 28, 'linux': 23, 'statistics': 29}

Testing equality:
<ul>
<li><b>==</b> tests component-wise equality</li>
<li><b>is</b> tests whether the instance is the same</li>
</ul>

In [87]:
# The == operator compares the value or equality of two objects, 
d == d1

True

In [93]:
# The "is" operator checks whether two variables point to the same object in memory.
d is d1

False

In [95]:
d2 = d

In [97]:
d2 is d

True

## <i>For...in</i> loops

The for loops in Python are more like "foreach" loops

In [103]:
for i in [1, 'hello', 9.98]:
    print ('The current valus is ' + str(i))

The current valus is 1
The current valus is hello
The current valus is 9.98

A very typical loop:

In [107]:
# print the squares of values from 0 to 9
for i in range(10):
    print ('i^2 = ' + str(i**2))

i^2 = 0
i^2 = 1
i^2 = 4
i^2 = 9
i^2 = 16
i^2 = 25
i^2 = 36
i^2 = 49
i^2 = 64
i^2 = 81

### Lambda (Anonymous) Function

In Python, anonymous function is a function that is defined without a name.

While normal functions are defined using the def keyword, in Python anonymous functions are defined using the lambda keyword.

Hence, anonymous functions are also called lambda functions.

syntax **lambda arguments: expression**

With function being defined:

In [109]:
# Define a function "double" that returns the input value * 2
def double(x):
    return x*2

In [111]:
double(5)

10

With lambda function:

In [113]:
# In Python, a lambda function is a single-line function which can have any number of arguments, 
# but it can only have one expression.
# Lambda functions are used when you need a function for a short period of time.
double_lambda = lambda x: x * 2

In [115]:
double_lambda(5)

10

### lambda function usage example:
* We want to replace the values of the column "Job", as follows:
>* No, I'm not working at the moment --> 0  
>* Yes, I have a part-time job --> 0.5  
>* Yes, I have a full-time job --> 1

In [ ]:
#the following code is from Module 5 lab note. 
#You can't execute it now. Just list here for you to reference
# 
#df['Job3'] = df['Job'].apply(lambda x: 0 if x.startswith('No') \
#                                   else 0.5 if 'part-time' in x \
#                                   else 1)

We use lambda functions when we require a nameless function for a short period of time.

### List comprehension

We can create lists (or tuples, or dictionaries) through loops using a very dense syntax called "List comprehension"

<b>Example</b>: create a list with these values: 0, 1, 4, 9, 16, ..., 81

In [121]:
# Generate a list with the squares of values from 0 to 9
l = []
for i in range(10):
    l.append(i*2)

In [123]:
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [125]:
# With list comprehension you can do all that with only one line of code
l = [i*2 for i in range(10)]
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Build the same list but we want 0s in the first 3 elements

In [127]:
# Generate the above-mentioned list but with 0s in the first 3 elements
[0 if i<3 else i*2 for i in range(10)]

[0, 0, 0, 6, 8, 10, 12, 14, 16, 18]

In [129]:
# Generate the above-mentioned list but with 0s in the first 3 elements
[i*2 if i>=3 else 0 for i in range(10)]

[0, 0, 0, 6, 8, 10, 12, 14, 16, 18]

### Looping through dictionary entries

We can loop through dictionary keys

In [ ]:
d

In [131]:
# Get keys of dictionary d
d.keys()

dict_keys(['data science', 'linux', 'statistics'])

In [133]:
# Check keys type
type(d.keys())

dict_keys

In [135]:
# Generate key lists from dict_keys object
list(d.keys())

['data science', 'linux', 'statistics']

In [139]:
# Get values of dictionary d
d.values()

dict_values([28, 23, 29])

We can loop through dictionary values:

In [141]:
d.values()

dict_values([28, 23, 29])

In [143]:
# loop through values of dictionary d
for v in d.values():
    print (str(v))

28
23
29

In [149]:
# Convert dictionary d to list
list(d.items())

[('data science', 28), ('linux', 23), ('statistics', 29)]

We can loop through dictionary (key,value) pairs

In [151]:
# loop through dictionary (key,value) pairs using items fuction
for k, v in d.items():
    print ('the key is ' + str(k) + '.  The value is ' + str(v))

the key is data science.  The value is 28
the key is linux.  The value is 23
the key is statistics.  The value is 29

## Strings

Strings are another type of sequence, and they can be sliced and accessed just like any sequence.

In [153]:
s = 'Welcome to the best Data Science course ever!!!!'

In [155]:
s

'Welcome to the best Data Science course ever!!!!'

Some important string methods:
<ul>
<li><b>replace</b>: replaces the occurrences of a string with another</li>
<li><b>lower/upper</b>: makes the string lower/upper case</li>
<li><b>rstrip/lstrip/strip</b>: remove the occurrences of certain trailing characters on the right or left or both</li>
<li><b>split</b>: splits the string in substrings</li>
</ul>

In [157]:
# replace 'best' to 'worst'
s.replace('best', 'worst')

'Welcome to the worst Data Science course ever!!!!'

In [159]:
s

'Welcome to the best Data Science course ever!!!!'

In [163]:
# Make the string lower case
s.lower()

'welcome to the best data science course ever!!!!'

In [165]:
# Make the string upper case
s.upper()

'WELCOME TO THE BEST DATA SCIENCE COURSE EVER!!!!'

In [167]:
s

'Welcome to the best Data Science course ever!!!!'

In [169]:
# The strip() method removes any leading andtrailing characters (characters at the end a string) space is the default 
# Remove ! from the string using rstrip
s.strip('!?,. ')

'Welcome to the best Data Science course ever'

In [171]:
# Use split function to split the string into a list.
s.split()

['Welcome', 'to', 'the', 'best', 'Data', 'Science', 'course', 'ever!!!!']

<b>In class exercise:</b> In one line of code, create a list containing all words in the string s after making them lower case and eliminating the punctuation (?,.:;!) at the end. <i>Hint</i>: use list comprehension.

In [177]:
s.lower().strip('!?,.').split()

['welcome', 'to', 'the', 'best', 'data', 'science', 'course', 'ever']

## Files I/O

Files can be opened in these modes:
<ul>
<li><b>w</b>: write (overwrite the file; create the file if it does not exist)
<li><b>a</b>: append (do not overwrite the file)
<li><b>r</b>: read
</ul>

Let us now create a file with two lines

In [ ]:
# open file 'myfile.txt' to write line
f = open('myfile.txt', ???)

In [ ]:
# write line
f.???('This is the first line\n')
f.???('This is the 2nd line\n')

Files must be closed, or else they may stay locked.

In [ ]:
f.close()

Let us now read from that file

In [ ]:
# open file 'myfile.txt' to read line
f = open('myfile.txt', ???)

In [ ]:
# print line uisng for loop
??? line in f:
    print (line)

In [ ]:
f.close()